========================================================================
{{ "NUMERATOR'S WEEKLY REPORT" | center(72) }}
========================================================================

Date: {{ date | date("%d %b %Y")}}


NOTES
========================================================================

{% for note in notes -%}
* {{ note | wordwrap(70, break_long_words=False) | indent(1) }}
{% endfor %}


CARD HOLDINGS
========================================================================

   Entity      #0    #1    #2    #3    #4    #5    #6    #7    #8    #9
------------  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----
{% for ent in entities -%}
{{ ent }}
{% endfor -%}
------------  ----  ----  ----  ----  ----  ----  ----  ----  ----  ----

{% for name, index in long_names -%}
[{{index}}] {{name}}
{% endfor %}

HISTORY
========================================================================

{% for h in history -%}
[{{ h.timestamp | date("%Y-%m-%d %H:%M:%S") }}] {{ "%-8s" | format(h.subject) }} {{ h.cards | card_string }}
{% endfor %}
